binary/bin
binary/build
binary/out
binary/tmp
core/.continue-test
extensions/.continue-debug
extensions/intellij/src/main/resources/webview
gui/dist
**/.continueignore
CHANGELOG.md
**/continue_tutorial.py
**/node_modules
**/CODEOWNERS
core/vendor
coverage
packages/continue-sdk
.conductor
